<div *ngIf = "gameData != null; else elseBlock">
    <div *ngIf = "gameData.ended; else elseEnded">
        <p>Partie avec l'id : {{gameid}} </p>

        <table id="card">
            <tr>
                <th [ngClass] = "classUser1"> {{username1}} </th>
                <th [ngClass] = "classUser2"> {{username2}} </th>
            </tr>
            <tr>
                <td> <app-game-details-move [move] = 'gameData.tour1'> </app-game-details-move> </td>
                <td> <app-game-details-move [move] = 'gameData.tour2'> </app-game-details-move> </td>
            </tr>
        </table>

    </div>
    <ng-template #elseEnded> 
        <p> La partie n'est pas encore terminée </p>
    </ng-template>
</div>

<ng-template #elseBlock> 
    <p> Aucune partie avec l'id {{gameid}} trouvé </p>
</ng-template>
