<div *ngIf = "gameData != null; else elseBlock">
    <div class="header">
        <span class="first"> {{gameid}} </span>
        <span class="second"> {{getResult}} </span>
        <span class="third"> {{getStartDate}} </span>
    </div>

    <div *ngIf = "gameData.ended; else elseEnded">
        <div class="plays">
            <div class="first-player">
                <h3 [ngClass] = "classUser1"> <a [routerLink]="['/profile/', username1]">{{username1}}</a> </h3>
                <h5> date </h5>
                <app-game-details-move [move] = 'gameData.tour1'> </app-game-details-move>
                <span class="elo"> +12 (1984) </span>
            </div>

            <div class="second-player">
                <h3 [ngClass] = "classUser2"> <a [routerLink]="['/profile/', username2]">{{username2}}</a> </h3>
                <h5> date </h5>
                <app-game-details-move [move] = 'gameData.tour2'> </app-game-details-move>
                <span class="elo"> -12 (2132) </span>
            </div>
        </div>
    </div>
    <ng-template #elseEnded> 
        <p> La partie n'est pas encore terminée </p>
    </ng-template>
</div>

<ng-template #elseBlock> 
    <div class="no-game-id"> 
        <h2> Aucune partie avec l'id 
            <span> {{gameid}} </span>
            trouvé 
        </h2>
    </div>
</ng-template>

