<li>
    <div (click)="goToCard()">
        Id : {{game.id}}
        <ul>
            <div *ngIf = "game.ended; else elseBlock">
                <li> Résultat :
                    <span *ngIf = "game.winner === null; else elseWinner">
                        Egalité
                    </span>
                    <ng-template #elseWinner>
                        <a [routerLink]="['/profile/', winner]">
                            <span (click)="$event.stopPropagation()"> {{winner}} </span>
                        </a>
                    </ng-template>
                </li>
            </div>
            <ng-template #elseBlock>
                <li> Partie en cours </li>
            </ng-template>
        </ul>
    </div>
</li>
